

<!DOCTYPE html>
<head>
  <title>File Metadata</title>
</head>
<body>
  <h2> Upload a file, and figure out what size it is. </h2>
  <form method="post" action="/" enctype="multipart/form-data">
  <input type="file" name="fileUpload">
  <input type="submit">
</form>
</body>